* {box-sizing: border-box;}

@font-face {
    font-family: "Satoshi-medium";
    src: url("../OTF/Satoshi-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Satoshi-bold";
    src: url("../OTF/Satoshi-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Satoshi-black";
    src: url("../OTF/Satoshi-Black.otf") format("opentype");
}

@font-face {
    font-family: "Satoshi-light";
    src: url("../OTF/Satoshi-Light.otf") format("opentype");
}

body{
    background-color: #e6f4c2 ;
    color: white;
    font-family: Satoshi-medium;
}

.hero{
    /*padding: 20px;*/
    overflow: hidden;
}

container{
    display:block;
    background-color: #466f20;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.container-top{
    border-top: 10px solid #466f20;
    border-right: 10px solid #466f20;
    border-left: 10px solid #466f20;
}

.top{
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid white;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    /*border-left: 12px solid white;
    border-right: 12px solid white*/
}

.logo{
    /*width: 4rem;*/
    /*margin nincs*/
    margin-top: 0%;
    margin-bottom: auto;
    width: 3rem;
    
}

.nav{
    display: flex;
    position: relative;
    padding: 1%;
    flex-direction: column;
    align-items: center;
}

.nav-link-wrapper-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: 100%;
}

.nav-link-wrapper{
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: #779d57;
}

.nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Satoshi-bold;
    font-size: 20px;
}

.current{
    text-decoration: underline;
}

.hero-heading{
    /*font-size: 130px;*/
    font-size: 60px;
    font-family: Satoshi-black;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

.container-middle{
    border-right: 10px solid #466f20;
    border-left: 10px solid #466f20;
}

.middle{
    border-right: 10px solid white;
    border-left: 10px solid white;
    padding: 0% 11.8% 11.8% 11.8%
}

.container-bottom{
    border-bottom: 10px solid #466f20;
    border-right: 10px solid #466f20;
    border-left: 10px solid #466f20;
}

.bottom{
    border-right: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    padding: 0% 11.8% 11.8% 11.8%
}

.input-label{
    font-size: 20px;
}

.image-wrapper{
    border: 2px solid white;
}

.galleria{
    margin: auto;
    width: 100%;
    height: 500px;
    }

.form-wrapper-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 30px;
    text-align: center;

}

@media screen and (min-width: 700px) {
    .container-top{
        border-top: 12px solid #466f20;
        border-right: 12px solid #466f20;
        border-left: 12px solid #466f20;
    }
    
    .top{
        border-top: 12px solid white;
        border-right: 12px solid white;
        border-left: 12px solid white;
    }
    .container-middle{
        border-right: 12px solid #466f20;
        border-left: 12px solid #466f20;
    }
    
    .middle{
        border-right: 12px solid white;
        border-left: 12px solid white;
        padding: 0% 11.8% 11.8% 11.8%
    }
    .container-bottom{
        border-bottom: 12px solid #466f20;
        border-right: 12px solid #466f20;
        border-left: 12px solid #466f20;
    }
    
    .bottom{
        border-right: 12px solid white;
        border-left: 12px solid white;
        border-bottom: 12px solid white;
        padding: 0% 11.8% 11.8% 11.8%
    }
    
}

@media screen and (min-width: 992px) {
    
    .hero{
        padding: 20px 20px 0px 20px;
    }

    .newsletter-section{
        padding: 0px 20px 20px 20px;
    }

    .images-section{
        padding: 0px 20px;
    }

    .top{
        padding: 0% 11.7%;
    }

    .logo{
        width: 4rem;
        margin: 0 auto auto 0
    }

    .nav{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        padding: 1%;
        align-items: center;
    }
    
    .nav-link-wrapper-wrapper{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0px 20px;
    }
    
    .nav-link-wrapper{
        margin: 0px 10px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#466f2000;
    }
    
    .nav-link{
        text-transform: uppercase;
        color: white;
        font-family: Satoshi-bold;;
        font-size: 16px;
    }

    .hero-heading{
        font-size: 130px;
    }

    .form-wrapper{
        display: flex;
        flex-flow: row;
        padding: 0%;
    }
}